body {
  background-color: #4787B5;
  color: #fff;

  font-family: 'Chivo', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 6em;
  padding: 0 1em;
  font-weight: 900;
  text-align: center;
  text-shadow: #111 0.02em 0.02em 0.1em;
}

h1 span {
  font-weight: 400;
  font-size: 0.5em;
  opacity: 0.8;
}

p {
  font-size: 10em;
  font-weight: 900;
  text-align: center;
  text-shadow: #111 0.02em 0.02em 0.1em;
}

code,
pre {
  font-size: 3em;
  text-shadow: #111 0.02em 0.02em 0.1em;
}

code {
  display: block;
  padding: 0 2em;
  text-shadow: #111 0.02em 0.02em 0.1em;
}

code output,
code b {
  color: #bbb;
  font-weight: normal;
}

.humble {
  font-size: 5em;
}

.links {
  font-size: 0.2em;
  line-height: 2em;
  margin-top: 2em;
  display: block;
}

section:not(.custom) > * {
  position: relative;
  top: 50%;
  left: 0;
  margin: 0;
  -webkit-transform: translateY(-50%);
}

.alert {
  background-color: #D93D3D;
}

.code {
  background-color: #000;
}

@font-face {
  font-family: 'Chivo';
  font-style:normal;
  font-weight:900;
  src: local('Chivo Black'), local('Chivo-Black'), url('http://themes.googleusercontent.com/static/fonts/chivo/v4/uOXSiKkEygwkvR4cgUzOz_esZW2xOQ-xsNqO47m55DA.woff') format('woff');
}

@font-face {
  font-family: 'Chivo';
  font-style:normal;
  font-weight:400;
  src:local('Chivo'),local('Chivo-Regular'),url('http://themes.googleusercontent.com/static/fonts/chivo/v4/2vOGounxqJdQZmH7ou5HpA.woff') format('woff');
}
